$orangeColor: #F7712B;
$senkobrang:2px solid rgba(251, 105, 38, 0.2);
#ordering {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: FFFEFE;
    width: 350px;
    height: 100vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    #headerOrder {
        padding-top: 20px;
        height: 80px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        border-bottom: $senkobrang;
    }
    #menuListPrepare {
        height: calc(100vh - 350px);
        padding: 0px 20px 10px 15px;
        border-bottom: $senkobrang;
        overflow-y: auto;
        .menuPrepare {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            .menuPrepareLeft {
                display: flex;
                .delete {
                    color: $orangeColor;
                    font-size: 20px;
                    padding-top: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .menu-detail {
                    padding-left: 25px;
                    font-size: 15px;
                    // .name-menu {}
                    // .cost-mennu {}
                }
            }
            .btn-volume {
                display: flex;
                align-items: center;
                padding-right: 30px;
                padding-bottom: 10px;
                .minus-vol {
                    background-color: $orangeColor;
                    border: $orangeColor solid 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: white;
                    font-size: 15px;
                    width: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        background-color: #f78649;
                    }
                }
                .volume-num {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    font-size: 15px;
                    border-top: solid 1px #C4C4C4;
                    border-bottom: solid 1px #C4C4C4;
                }
                .plus-vol {
                    background-color: $orangeColor;
                    border: $orangeColor solid 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: white;
                    font-size: 15px;
                    width: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                    &:active {
                        background-color: #f78649;
                    }
                }
            }
        }
    }
    #promotion {
        display: flex;
        align-items:center;
        justify-content: space-around;
        height: 60px;
        font-size: 15px;
        border-bottom: $senkobrang;
    // #text-promotion {}
    // #name-promotion {}
    // #costpromotion {}
    }
    #conclution-order {
        display: flex;
        flex-flow: column;
        font-size: 20px;
        height: 100%;
        padding: 10px 20px 20px 20px;
        #cost-tap {
        padding-right: 60px;
        padding-left: 30px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
            // #text-total {}
            // #number-total {}
        }
        #btn-submit-order {
            border-radius: 5px;
            height: 50px;
            color: white;
            font-size: 20px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $orangeColor;
        }
    }
}