.table-box {
  position: relative;
  margin-left: 100px;
  #header {
    margin-bottom: 50px;
    width: 91.5%;
    .header-text {
      font-size: 36px;
      font-weight: bold;
      padding-top: 1px;
      border-bottom: 2.5px solid #FFA14A;
    }
  }
  .custom-table {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #F7712B;
    width: 91.5%;
    table {
      border-spacing: 0;
      width: 100%;
      .header-table {
        .row-header-box {
          .column-header-box {
            height: 51px;
            border-right: 1px solid #FFF;
            color: #FFF;
            width: 10%;
            &:nth-child(1) {
              width: 5%;
            }
            &:nth-child(2) {
              width: 40%;
            }
            &:nth-child(7) {
              border: none;
            }
          }
        }
      }
    }
  }
  .data-table {
    display: block;
    width: 91.15%;
    max-height: 650px;
    border-right: 3px solid #F7712B;
    border-left: 3px solid #F7712B;
    border-bottom: 3px solid #F7712B;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-y: overlay;
    #bodyTable {
      border-spacing: 0px;
      width: 100%;
      .body-table {
        background-color: #FFF;
        .row-data-column {
          .data-column {
            border-right: 1px solid #F7712B;
            border-bottom: 1px solid #F7712B;
            text-align: center;
            height: 45px;
            width: 10%;
            &:nth-child(1) {
              width: 4.85%;
            }
            &:nth-child(2) {
              width: 40%;
            }
            &:last-child {
              width: 9.85%;
              border-right: none;
            }
          }
        }
        .row-data-column:last-child td {
          border-bottom: none;
        }
        .row-data-column:hover {
          background-color: #F7722B63;
        }
      }
    }
  }
}
