$orangeColor: #F7712B;
$disable: #3C454C;

#sideBar {
    background-color: #EAEBED;
    height: 100%;
    width: 100%;
    min-height: 720px;
    #top {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 10%;
        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            color: #333a3f;
            &:hover {
                cursor: pointer;
            }
        }
        #top-border-bottom {
            border-bottom: 2px solid $disable;
            padding: 5px 44px;
        }
    }
    #menuBar {
        .menu-active {
            width: 100%;
            height: 100px;
            display: flex;
            #boxLogoActive{
                width: 110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #logoMenuListActive {
                    color: $orangeColor;
                    font-size: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 5px;
                }
                #textMenuListActive {
                    color: $orangeColor;
                    display: flex;
                    align-items: center;
                    text-align-last: center;
                    font-size: 15px;
                }
            }
            #activeLineActive {
                background-color: $orangeColor;
                width: 8px;
                border-radius: 10px;
            }
        }
        .menu-select {
            width: 100%;
            height: 100px;
            display: flex;
            #boxLogo{
                width: 110px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #logoMenuList{
                    color: $disable;
                    font-size: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 5px;
                }
                #textMenuList {
                    color: $disable;
                    display: flex;
                    align-items: center;
                    text-align-last: center;
                    font-size: 15px;
                }
            }
            #activeLine{
                display:none;
                background-color: $orangeColor;
                width: 8px;
                border-radius: 10px;
                
            }
            &:hover {
                #activeLine {
                    display: flex;
                }
                cursor: pointer;
                background-color: #f7722b7e;
            }
        }
    }
}